body{
    font-family: Arial, sans-sarif;
    background-color: #4F772D;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
nav {
    background-color: #31572C;
    height: 2.5em;
}
img:hover{
    margin: 2rem 0rem 0rem 2rem;
    width: 38rem;
    height: 38rem;
    border-radius: 100%;
    box-shadow: 0 0 20px 10px rgb(0,0,0,0.2);
}
img{
    margin: 2rem 0rem 0rem 2rem;
    width: 35rem;
    height: 35rem;
    border-radius: 100%;
    box-shadow: 0 0 20px 10px rgb(0,0,0,0.2);
}
.image-container{
    text-align: center;
}
#logo {
    color:yellow;
    padding: .5rem 1.5rem 1.5rem 1rem;
}
